.game {
	height: 80vh;
	width: 80vw;
	border: 2px solid grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#player1,
#player2 {
	height: 50px;
	width: 10px;
	background-color: green;
}

#ball {
	height: 10px;
	width: 10px;
	background-color: red;
}
